/* Adjust .job-listings-item styles */
.job-listings-item {
    border-radius: 2px;
}

/* Adjust .filter-form styles */
.filter-form {
    border-radius: 2px;
}

/* Adjust .filter-form-input styles */
.filter-form-input {
    font-size: 14px;
    border-radius: 2px;
    height: calc(1.9em + 0.75rem + 2px);
}

/* Adjust select within .filter-form */
.filter-form .custom-select {
    font-size: 14px;
    border-radius: 2px;
    height: calc(1.9em + 0.75rem + 2px);
}

/* Adjust .job-search-form styles */
.job-search-form {
    border-radius: 2px;
}

/* Adjust .featured-category--without-image a styles */
.featured-category--without-image a {
    border-radius: 2px;
}

/* Adjust .widget-products .product-item styles */
.widget-products .product-item {
    border-radius: 2px;
}

/* Adjust button styles */
a.btn.btn-primary,
button.btn-primary,
.job-search-form .btn-primary {
    border-radius: 2px;
}

/* Adjust form control styles */
.job-search-form .form-group .form-control,
.job-search-form .search-category-container .custom-select,
.job-search-form .search-job-type-container .custom-select,
.form-container .btn,
.form-container .form-control,
.form-register .custom-select,
.form-register .form-control,
.form-register .form-control-btn {
    border-radius: 2px;
}

/* Adjust job-inner and job-listings-item styles */
.job-inner-shade,
.job-inner .job-employer-logo img,
.job-listings-item .job-employer-logo img,
.job-listings-item .job-partner-logo .acronym {
    border-radius: 3px;
}

/* Adjust job-seeker profile styles */
.job-seeker-profile-item,
.job-seeker-profile-wrapper,
.job-seeker-profile-wrapper .profile-picture img,
.job-seeker-profile-item .job-seeker-profile-photo {
    border-radius: 3px;
}

/* Adjust button outline styles */
.btn-outline-primary {
    border-radius: 2px;
}

/* Set caps on titles */
h1, h2, h3, h4 {
    text-transform: uppercase;
}

/* Adjust font weight for specific classes */
.widget-products .product-item-name,
.section-searched-item,
.form-register .form-title,
.form-title {
    font-weight: 525; /* Adjusted to closest valid value */
}

/* Custom table styling */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Space Grotesk', sans-serif;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.custom-table th {
    background-color: #EB4858;
    color: white;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #f9fafb;
}

/* Adjust table styles for smaller screens */
@media only screen and (max-width: 600px) {
    .custom-table {
        width: 100%;
        font-size: 14px;
    }
    .custom-table th, .custom-table td {
        padding: 5px;
    }
}

/* Additional notes:
- Try to avoid using !important unless absolutely necessary.
- Make sure to keep comments updated as you make changes to your styles.
- Consider optimizing CSS by consolidating redundant styles or using shorthand properties where possible.
*/
